<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-md-6 offset-md-3 text-center" role="alert">
        <strong>Error!</strong> <%= err.message %>
    </div>
</div>